{% extends "base.html.twig" %}

{% block body %}
	<section class="categories-list">
		<div class="categories-list-div">
			<button class="btn-category">
				<a href="/admin/categories/create">Créer une catégorie</a>
			</button>
			{% for categorie in categories %}
				<div class="categorie-list">
					{{ categorie.name }}

					<a class="edit-category" href="{{ path('admin.edit.categories', {'id': categorie.id}) }}">Modifier</a>
					<form method="POST" action="{{ path('admin.delete.categories', {'id': categorie.id}) }}" onsubmit="return confirm('La supression a été effectuée !')">
						<input type="hidden" name="_method" value="DELETE">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
						<button class="btn-category">supprimer</button>
					</form>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
