{% extends 'base.html.twig' %}

{% block title %}Epreuve E4
{% endblock %}

{% block body %}
	<section class="tableau-e4">
		<div class="epreuve-div">
			<h2>Tableau des compétences</h2>
			<div class="skills-tableau">
				<table class="">
					<tbody>
						<tr class="tr-tableau-e4">
							<td class="">
								<strong>Compétences</strong>
							</td>
							<td class="">
								<strong>date de début</strong>
							</td>
							<td class="">
								<strong>date de fin</strong>
							</td>
							<td class="">
								<strong>Catégories</strong>
							</td>
						</tr>
						{% for skill in skills %}
							<tr class="tr-tableau-e4">
								<td class="">{{ skill.Titre }}</td>
								<td class="">{{ skill.DateDebut|date("d/m/Y") }}</td>
								<td class="">{{ skill.DateFin|date("d/m/Y") }}</td>
								<td class="">{{ skill.category.name }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section>
{% endblock %}
