<footer class="footer">
	<div class="footer-about-links">
		<div class="footer-about">
			<h2 class="footer-h2">A propos</h2>
			<p class="footer-p">Ce site a été réalisé par VIAL Mathis à l'aide du Frame Work Symfony et de la bibliothèque JS Cloud Flare.</p>
		</div>
		<div class="footer-links">
			<a href="/">Accueil</a>
			<a href="/epreuve">Epreuve E4</a>
			<a href="/parcours">Mon parcours</a>
		</div>
	</div>
	<hr>
	<div class="footer-legals">
		<p>Copyright &copy; 2022 All Rights Reserved by VIAL Mathis.</p>
	</div>
</footer>
