<header class="header">
	<nav class="navbar-part">
		<div class="navbar-content">
			<a href="/">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXeBFtgSzK7xszW_B57chbeyb2qOId3qNUXA&usqp=CAU" alt="woaw le beau dragon">
			</a>
			<ul class="navbar-link">
				<li class="navbar-item">
					<a href="/">Accueil</a>
					<a href="/epreuve">Epreuve E4</a>
					<a href="/parcours">Mon parcours</a>
					{% if is_granted('ROLE_ADMIN') %}
						<div class="admin-menu">
							<a>Admin</a>
							<div class="admin-menu-dropdown">
								<a href="/admin/skills/list">Compétences</a>
								<a href="{{ path('admin.category.show') }}">Catégories</a>
							</div>
						</div>
					{% else %}
					<a href="/login">Connexion</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</nav>
</header>

<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
